<h3 mat-dialog-title>Create Server</h3>

<mat-dialog-content>
  <form [formGroup]="createServerForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
  <input matInput formControlName="name" placeholder="Name" required/>
  <mat-error *ngIf="this.createServerForm.get('name')?.hasError('required')">Name cannot be empty</mat-error>
  <mat-error *ngIf="this.createServerForm.get('name')?.hasError('maxlength')">Name cannot be greater than 256 characters</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
  <textarea placeholder="Description" formControlName="description" matInput cols="50" rows="3"></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>NAT Space</mat-label>
  <mat-select placeholder="NAT Space" formControlName="natSpace" (selectionChange)="natSpaceSelection($event)">
    <mat-option *ngFor="let option of nat_space_data" [value]="option">
        {{option.name}}
    </mat-option>
  </mat-select>
  <input matInput formControlName="natSpace" required/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>IP Address</mat-label>
  <input matInput formControlName="ipAddress" placeholder="IP Address" [disabled]="this.createServerForm.get('natSpace')?.value ? false: true"/>
  <mat-error *ngIf="this.createServerForm.get('ipAddress')?.hasError('pattern')">IP Address is wrong</mat-error>
  </mat-form-field>

  <button class="primary-btn" type="submit" [disabled]="createServerForm.invalid">{{data ? 'Update' : 'Create'}}</button>
  </form>
</mat-dialog-content>

<!-- <mat-dialog-actions> -->
<!-- </mat-dialog-actions> -->
